name: CI/CD Web App 

permissions:
  contents: write


 

on: 

  push: 

    branches: [main] 

 

jobs: 

  lint-and-deploy: 

    runs-on: ubuntu-latest 

 

    steps: 

      - name: Checkout code 

        uses: actions/checkout@v4 

 

      - name: Lint HTML and CSS (basic) 

        run: | 

          sudo apt install tidy 

          tidy -errors -q index.html || true 


      - name: Setup Git config
        run: |
          git config user.name Khodane
          git config user.email Khodane@users.noreply.github.com
 

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./
          publish_branch: gh-pages
